/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 7px;
  transition: background-color 1s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
  border-radius: 7px;
  cursor: pointer;
}

.pd-0 {
  padding: 0;
}

.mg-0 {
  margin: 0;
}

.h-90 {
  height: 90%;
}

