<div class="table-container">
  <table class="table table-fixed">
    <thead>
    <tr class="text-center">
      <th class="w-6">simulation property</th>
      <th class="w-15">value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>simulation name</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>evolution lifetime</td>
      <td>{{lifetime}}</td>
    </tr>
    <tr>
      <td>current evolution age</td>
      <td>{{currentAge}}</td>
    </tr>
    <tr>
      <td>map size</td>
      <td>{{mapSize}}</td>
    </tr>
    <tr>
      <td>jungle size</td>
      <td>{{jungleSize}}</td>
    </tr>
    <tr>
      <td>animal max energy</td>
      <td>{{animalMaxEnergy}}</td>
    </tr>
    <tr>
      <td>grass init energy</td>
      <td>{{grassInitEnergy}}</td>
    </tr>
    <tr>
      <td>animal init energy</td>
      <td>{{animalInitEnergy}}</td>
    </tr>
    <tr>
      <td>animal init amount</td>
      <td>{{animalInitAmount}}</td>
    </tr>
    </tbody>
  </table>
</div>
