<div class="row pd-0 mg-0">
  <div class="col-lg-6 d-flex justify-content-center align-items-center">
    <app-simulation-map></app-simulation-map>
  </div>
  <div class="col-lg-6 details-col">
    <div class="details-options row pd-0 mg-0">
      <div class="col-4"><a routerLink="general">General</a></div>
      <div class="col-4"><a routerLink="entities">Animals</a></div>
      <div class="col-4"><a routerLink="charts">Stats</a></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<img src="../../assets/pictures/button-back.svg" alt="btn-back" class="btn-back" routerLink="" />
<footer>
  <a href="https://github.com/mzlnk">dev by Marcin Zielonka 2019</a>
</footer>



